<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ve.java.core.launcher.JavaBean">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jogo_velha.Entidade"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="src"/>
</launchConfiguration>
